{% extends "_base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-7">
    <h2>Select an Image</h2>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p><img src="https://thumbs.dreamstime.com/b/%D1%82%D0%BA%D0%B0%D0%BD%D1%8C-%D1%88%D0%B8%D1%84%D0%B5%D1%80%D0%B0-%D1%81-%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BD%D1%8B%D0%BC-%D1%83%D0%B7%D0%BE%D1%80%D0%BE%D0%BC-%D1%81%D0%B1%D1%80%D0%BE%D1%81%D0%B0-111490783.jpg" style="height: 250px;" class="img"></p>
        <p><img src="https://bushelle.ru/upload/iblock/ca1/nomad_09_cobblestone.jpg" style="height: 250px;" class="img"></p>
      </div>
      <div class="col-md-6">
        <p><img src="https://provence-design.com.ua/pub/media/catalog/product/cache/1353ca31f482136dde9a662aae397fea/4/3/43209.jpg" style="height: 250px;" class="img"></p>
        <p><img src="https://thumbs.dreamstime.com/b/%D1%8F%D1%80%D0%BA%D0%B0%D1%8F-%D0%B3%D0%BE%D0%BB%D1%83%D0%B1%D0%B0%D1%8F-%D0%BA%D1%80%D1%83%D0%B6%D0%B5%D0%B2%D0%BD%D0%B0%D1%8F-%D1%82%D0%BA%D0%B0%D0%BD%D1%8C-%D1%81%D0%B2%D0%B5%D1%80%D1%85%D1%83-105958637.jpg" style="height: 250px;" class="img"></p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h2>Results</h2>
    <br>
    <p id="searching">Searching...</p>
    <p id="error">Oh no! No results! Check your internet connection.</p>
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody id="results">
      </tbody>
    </table>
  </div>

</div>

<form action="/forward/" method="post">
    <button name="indexdb" type="submit">Обновить базу изображений</button>

</form>
        <input type="file" name="file">
        <button id="run" type="submit">Загрузить</button>

{% endblock %}
